* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

.main {
    position: relative;
    min-height: 800px;
}

.main::after {
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 400px;
    border-radius: 0 0 0 191.5px;
    background: #f1f5fe;
}

.container {
    padding: 0 24px;
}

.header {
    position: relative;
    z-index: 8;
    text-align: center;
    padding-top: 89px;
    padding-bottom: 64px;
}

.header__pattern {
    position: absolute;
    z-index: 8;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
}

.h1 {
    position: relative;
    z-index: 8;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #293356;
    margin-bottom: 8px;
}

.p {
    position: relative;
    z-index: 8;
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    color: #848ead;

    width: 180px;
    margin: 0 auto;
}

.box {
    position: relative;
    z-index: 10;
    max-width: 540px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;

    padding: 34px 24px 32px 24px;
}

.box__header {
    text-align: center;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box__pageviews {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: #848ead;
}

.box__price {
    display: none;
}

.box__price__num {
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -1px;
    color: #293356;
    margin-right: 8px;
}

.box__price__month {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #848ead;
}

/* INPUT */

.box__range-wrapper {
    margin-bottom: 102px;
}

:root {
    --current-val: 50%;
}

.box__range-input {
    width: 100%;
    height: 8px;

    appearance: none;
    -webkit-appearance: none;

    background: #a4f3eb;
    border-radius: 5px;
    margin: 16px 0 16px 0;

    background: linear-gradient(
        to right,
        hsl(174, 77%, 80%) 0%,
        hsl(174, 77%, 80%) var(--current-val),
        hsl(224, 65%, 95%) var(--current-val),
        hsl(224, 65%, 95%) 100%
    );
}

.box__range-input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;

    background: #10d8c4;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);

    background-image: url(./images/icon-slider.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.box__range-input::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;

    background: #10d8c4;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);

    background-image: url(./images/icon-slider.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.box__range-input::-webkit-slider-thumb:hover {
    background-color: #7aeadf;
    cursor: pointer;
}

.box__range-input::-moz-range-thumb:hover {
    background-color: #7aeadf;
    cursor: pointer;
}

.box__range-input::-webkit-slider-thumb:active {
    cursor: grab;
    background-color: #24aea1;
}

.box__range-input::-moz-range-thumb:active {
    cursor: grab;
    background-color: #24aea1;
}

/* DISCOUNT */

.box__discount-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 40px;
    border-bottom: 1px solid #ecf0fb;
}

.box__monthly,
.box__yearly {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #848ead;
}

.box__monthly {
    margin-right: 12px;
}

.box__yearly {
    margin-left: 12px;
    margin-right: 5px;
}

.box__discount {
    background-color: #feede8;
    border-radius: 9.5px;
    height: 19px;
    padding: 0 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box__discount-perc,
.box__discount-text {
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    color: #ff8d68;
}

.box__discount-text {
    display: none;
}

/* TOGGLE */
.box__toggle {
    width: 43px;
    height: 22px;
    background: #cfd8ef;
    border-radius: 15px;
    padding: 4px;
    cursor: pointer;

    display: flex;
    transition: background-color 0.15s;
}

.box__toggle:hover {
    background-color: #7aeadf;
}

.box__toggle-circle {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.box__toggle-circle--active {
    margin-left: auto;
}

.box__toggle--active {
    background-color: #10d8c4;
}

/* FEATURES */
.box__features-wrapper {
    text-align: center;
}

.box__list-wrapper {
    margin-top: 24px;
    margin-bottom: 32px;
}

.box__list-wrapper ul {
    list-style: none;
}

.box__list-wrapper li:not(:last-child) {
    margin-bottom: 10px;
}

.box__list-wrapper li {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #848ead;
}

.box__list-wrapper img {
    margin-right: 16px;
}

.btn {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #becdff;

    width: 170px;
    height: 41px;
    border: none;
    background: #293356;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.1s;
}

.btn:hover {
    color: #ffffff;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
    .main::after {
        height: 449px;
    }

    .header {
        padding-top: 104px;
        padding-bottom: 76px;
    }

    .header__pattern {
        top: 48%;
    }

    .h1 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 12px;
    }

    .p {
        font-size: 15px;
        line-height: 20px;

        width: revert;
        margin: revert;
    }

    /* BOX */

    .box {
        padding: 40px 48px 32px 48px;
    }

    .box__header {
        margin-bottom: 24px;
        justify-content: space-between;
    }

    .box__pageviews {
        font-size: 14px;
        line-height: 19px;
    }

    .box__price {
        display: flex;
        align-items: center;
    }

    .box__range-wrapper {
        margin-bottom: 40px;
    }

    .box__monthly {
        margin-right: 16px;
    }

    .box__yearly {
        margin-left: 16px;
        margin-right: 9px;
    }

    .box__discount-text {
        display: revert;
    }

    /* FEATURES */
    .box__features-wrapper {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;
    }

    .box__list-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 360px) {
    .box__monthly span,
    .box__yearly span {
        display: none;
    }
}

/* END */
